.inputs {
    .user {
        color: #00BF00;
        a {
            color: #00BF00;
            text-decoration: none;
            &:hover,
             :visited,
             :active,
             :link {
                color: #00BF00;
                text-decoration: none;
            }
        }
    }
    span {
        font-family: LucidaSans;
        border: none;
        font-size: 16px;
        color: #e0e0e0;
    }
}