.inputs {
    .user {
        color: #00BF00;
        a {
            color: #00BF00;
            text-decoration: none;
            &:hover,
             :visited,
             :active,
             :link {
                color: #00BF00;
                text-decoration: none;
            }
        }
    }
    .command {
        font-family: LucidaSans;
        border: none;
        font-size: 16px;
        color: #e0e0e0;
        background: #454545;
        position: relative;
        display: inline-block;
        white-space: pre;
    }
    .blink {
        font-family: LucidaSans;
        border: none;
        font-size: 16px;
        color: #e0e0e0;
        background: #454545;
        position: relative;
        display: inline-block;
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: -3px;
            background: #e0e0e0;
            width: 2px;
            top: 0;
            bottom: 0;
        }
    }
    i {
        font-family: Courier, monospace;
        font-size: 16px;
        white-space: pre;
        display: block;
        height: 100%;
        a {
            color: #FFCC00;
            text-decoration: none;
            &:hover,
             :visited,
             :active,
             :link {
                color: #FFCC00;
                text-decoration: none;
            }
        }
        code {
            font-family: LucidaSans;
            color: mediumorchid;
            font-size: 16px;
        }
        p {
            font-family: LucidaSans;
            color: #50beff;
            font-size: 16px;
        }
    }
}